[Unit]
Description=Motor controller for vigor22
After=redis-server.service

[Service]
Type=simple
User=gpstracker
Restart=on-failure
WorkingDirectory=/home/gpstracker/vigor22
ExecStart=/home/gpstracker/vigor22/motor_controller.py

[Install]
WantedBy=multi-user.target
