[Unit]
Description=Host an API to access Vigor22 data
After=redis-server.service

[Service]
Type=simple
User=gpstracker
Restart=on-failure
WorkingDirectory=/home/gpstracker/vigor22
ExecStart=/home/gpstracker/vigor22/backend_raspi.py

[Install]
WantedBy=multi-user.target
